@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap');
*{
    margin:0;
    padding:0;
}
.container-fluid{
    margin-right:auto;
    margin-left:auto;
    padding-left:15px;
    padding-right:15px
}
.container-fluid>.header{
	margin-right:-15px;
	margin-left:-15px
}
.marg-s{
    margin-left:30px;
}
body{
    /* background-color:#CDACC8; */
    background-color:#F8F0F8;
    min-height:1000px;
    font-family: 'Open Sans';
    padding-top:200px;
}
body.edu{
    height:100px;
}
header{
    z-index:6;
    height:100%;
    width:100%;
    position:fixed;
    top:0;
    left:0;
    transition: all 1s;
    padding: 0 100s;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .5);

} 
header img.photo{
    object-fit: cover;
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    opacity:0.8;
    transition: all 1s;
}
header div.border{
    height:100%;
}
header .logo{
    position: absolute;
    top: calc(50% - 190px);
    left: calc(50% - 140px);
    transition: all 1s;
}

header .under-logo{
    position: absolute;
    top: calc(50% + 100px);
    left: calc(50% - 195px);
    transition: all 1s;
    font-size: 50px;
    color:  black;
}
header .under-logo:hover{
    cursor: pointer;
    color: #545454;
    transition: 1s;
}
 .start{
    position:absolute;
    top:82%;
    left:44%;
   
    width:200px;
    height:60px;
    line-height: 60px;
    text-align:center;
    font-family: 'Open Sans';
    text-transform:uppercase;
    font-size:24px;
    letter-spacing:4px;
    color:#fff;
    text-decoration:none;
}
.start svg,.start svg rect{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    fill:transparent;
}
.start svg rect{
    stroke:#00e2ff;
    stroke-width:4;
    transition: 2s;
    stroke-dasharray: 60 200;
    stroke-dashoffset: 320;
}
.start:hover svg rect{
    stroke:#ff0;
    stroke-dasharray: 200 60;
    stroke-dashoffset: 0;
}
header .logo img{
    width:280px;
    transition: all 1s;
}
nav{
    position: relative;
    float: right;
}
nav ul{
    position: relative;
    padding: 35px 50px;
    display: flex;
    opacity:0;
    visibility: hidden;
    transform: translateX(100px);
}
nav ul li{
    display:inline-block;
    list-style:none;
}
nav ul li a{
    color:#fff;
    padding: 10px 15px;
    text-decoration:none;
}
nav ul li a.active{
    color:#97E9F4;
    font-weight: bold;
    transition: 0.4s;

}

header.scrolling{
    height:100px;
}
header.scrolling div.border{
    transition: all 1s;
    height:100px;
    background-color:#545454;

}
header.scrolling img.photo{
    opacity:0;
}
header.scrolling .logo{
    position: relative;
    top:5px;
    left:30px;
}
header.scrolling .under-logo{
    position: relative;
    top:-30px;
    left:100px;
    font-size: 30px;
    color:  #97E9F4;

}
header.scrolling .logo img{
    width:90px;
}
header.scrolling nav ul{
    opacity:1;
    visibility: visible;
    transform: translateX(-10px);
    transition: 1s;
}
header.scrolling .start{

    transition: all 1.5s;
    top:18px;
    left: 42%;
}
.inline{
    display:inline-block;
}
.inline-top{
    display:inline-block;
    vertical-align: top;

}
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index:6;
    background-color: rgba(0,0,0,0.4);
  }
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 50%;
    height:400px;
    z-index:6;
  }
  #close-modal {
    color: #aaa;
    position:relative;
    top: -29px!important;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  #close-modal:hover,
  #close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  #open-modal{
      cursor:pointer;
  }
  .container-modal{
    position: absolute;
    width:100%;
    top:50%;
    transform: translateY(-40%);
    transform: translateX(-26%);
    text-align: center;
}
  .container{
      position: absolute;
      width:100%;
      top:50%;
      transform: translateY(-40%);
      transform: translateX(-26%);
      text-align: center;
  }
  .contact-method{
      width:250px;
      height:140px;
      margin-left:30px;
      transform: translateY(-40%);
      display:inline-block;
      vertical-align: top;
      background:white;
      position:relative;
      cursor:pointer;
  }
  .contact-method i{
      position: absolute;
      top:0;
      left:0;
      width:100%;
      height:100%;
      font-size:30px;
      line-height:140px;
      background:#D8BDB9;
      z-index:1;
      transition: transform 0.6s;
  }
  .contact-method span{
      position: absolute;
      width:100%;
      left:0;
      bottom:0;
      padding:10px 0;
  }
  .contact-method:hover i{
      transform: translateY(-40px);
  }
  .contact{
      font-size:40px;
      font-family: "Open Sans";
      position: relative;
      top:-180px;
      transform: translateX(21px);
  }
  section{
      z-index:1;
      padding:120px;
      box-sizing:border-box;
      margin:auto;
  }
  section.right{
      display:none;
      position:relative;
      right:19px;
  }
hr{
    display:none;
}
  .skills{
      font-size:22px;
      /* width:19%; */
      height:70px;
      border: 2px solid #97E9F4;
      padding:50px;
      text-align:center;
      border-radius: 10px;
      position:relative;
      left:-35px;
      margin-left: 50px;
      display:flex;
      flex-direction: column;
      letter-spacing: 5px;
      
  }
  .skills:hover{
      background-color:#97E9F4;
      cursor:pointer;
      transition: all 0.7s;
  }
   .section-skills{
    width:350px;
    display:inline-block;
      vertical-align: top;
      margin-left: 25px;

  }
  .skills-content{
    font-size: 20px;
    font-family: "Open Sans";
    padding: 30px;
    line-height: 50px;
    display: none;
  }
  .langu{
      cursor:pointer;
      transition: all 0.7s;
  }
  .icons{
      display:none;
      cursor: pointer;
  }
 .clickme{
     font-size:10px;
     position: relative;
     display:none;
 }
 .square{
    background-color:white;
    font-size:34px;
    width:40%;
    height: 300px;
    margin: 30px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
    border-radius: 7px;
    padding-top:10px;
    line-height: 80px;
    opacity:0;
 }

 .bac p{
     font-size:20px;
 }
 
 .fac p{
    font-size:20px;
}
.title{
    color: #9E7788;
    position:relative;
    top:-90px;
    letter-spacing: 5px;
}


main {
  min-width: 300px;
  max-width: 1000px;
  margin: auto;
}

.borderC {
  line-height: 40px;
  border-top: 3px solid;
  border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
  border-image-slice: 1;
  margin: 0;
  padding: 40px;
  position: relative;
  height:150px;
}  


.borderC:nth-child(even) {
  border-right: solid;
  
  padding-left: 0;
}

.borderC:nth-child(odd) {
  border-left: 3px solid;
  padding-right: 0;
}
.borderC:nth-child(2) {
  border-top: 0;
}
.border-title{
    float:left;
    position:relative;
    top:-50px;
    left:50px;
    font-weight:bold;
}
.borderC p{
    font-size:20px;
    margin-top:30px;
    display:none;
}
.border-title-uni{
    float:right;
    position:relative;
     top:-30px;
     font-weight:bold;

   /* left:50px; */
}
.border-title-edu{
    font-weight:bold;

    border-top: 2px solid;
    border-bottom: 2px solid;
    border-image: linear-gradient(to right, #743ad5 0%, #d53a9d 100%);
    border-image-slice: 1;
    margin: 0;
    padding:28px;
    width:230px;
    cursor:pointer;
    color:#B42E53;
    transition: all 1s;
}
.border-title-edu:hover{
    font-size: 26px;
    transition: all 1s;
}
.black-bg{
    background-color:#444444;
    height:150px;
    width:650px;
    padding:50px;
}



.container {
    padding: 40px 40px;
    position: relative;
    background-color: inherit;
    background-color: white;
    border-radius: 6px;
    height:250px;
    width:750px;
    left:200px;
  }
  .container-about {
    padding: 40px 5px;
    position: relative;
    background-color: inherit;
    background-color: rgb(94, 75, 97);
    border-radius: 6px;
    height:400px;
    width:1200px;
    margin: auto;
  }
  .container-small{
    height:220px;
    width:300px;
    margin-top:30px;
    margin-bottom: 40px;
    padding: 40px 40px;
    position: relative;
    background-color: inherit;
    background-color: white;
    border-radius: 6px;
    left:-10px;
    display:inline-block;
    vertical-align: top;
    line-height: 50px;
    margin-left: 40px;
    font-family: 'Montserrat';
    font-weight: 500;
  }
  .container img{
    height:150px;
    width:650px;
  }
.date-right{
    float:right;
    font-size:23px;
}
.date-left{
    float:left;
    font-size:23px;
}
.bloc{
    position: relative;
    width:30%;
    height: 400px;
    display: inline-block;
    vertical-align: top;
}
.bloc h2{
    color: #55E7E0;
    font-family: 'Montserrat';
    font-weight: 300;
    letter-spacing: 4px;
}
#interests{
    border-right: 1px solid #8F99BC;
}
#interests ul{
    margin-top:80px;
    line-height: 50px;
}
#interests ul li{
    transform: translateX(-5px);
    color: white;
    letter-spacing: 2px;
}
#interests ul li:hover{
    color:#BAFAC7;
    cursor: pointer;
    transition: 0.5s;

}
#adress{
    border-right: 1px solid #ADCBE1;
}
#adress p{
    margin-top:80px;
    line-height: 50px;
    transform: translateX(-5px);
    color: white;
    letter-spacing: 2px;
}
#adress p:hover{
    color:#BAFAC7;
    cursor: pointer;
    transition: 0.5s;

}
#placeholder:hover{
    fill:#BAFAC7;
    transition: 0.7s;
    cursor: pointer;
}
#contact div{
    margin-top:80px;
    line-height: 50px;
    transform: translateX(-5px);
    color: white;
    letter-spacing: 2px;
}
#contact span:hover{
    color:#BAFAC7;
    cursor: pointer;
    transition: 0.5s;

}
.about-all{
    margin-top:80px;
}
.zoom{
    transition: all 0.7s;
}
.zoom:hover{
    font-size: 28px;
    cursor: pointer;
    transition: all 0.7s;
}
.langu:hover{
    color:#55E7E0;
    transition: all 0.7s;
}
#hidden1{
    display:none;
}
#hidden2{
    display:none;
}
.hidden-row-1 span{
    display:none;
}
.hidden-row-2 span{
    display:none;
}
.hidden-row-3 span{
    display:none;
}
h2{
    cursor:pointer;
}
.container-small span{
    transition: all 0.7s;
}
.container-small span:hover{
    color:#8E738F;
    cursor: pointer;
    transition: all 0.7s;
}